@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    max-width: 1080px;
}
.bg-blue {
    background-color: #114072;
}
.color-1 {
    color: #E1412F;
}
.color-2 {
    color: #2970DE;
}
.color-3 {
    color: #119762;
}
.color-4 {
    color: #FDB941;
}
.text-blue {
    color: blue;
}
header {
    height: 65px;
}
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Poppins', sans-serif !important;
}
.btn-outline-light {
    border-width: 2px;
    color: white;
}
.text-light .btn-outline-light:hover {
    color: #114072;
    font-weight: 600;
}
.btn-light {
    --bs-btn-hover-color: #114072;
    color: var(--bs-btn-hover-color);
    font-weight: 600;
}